<!DOCTYPE html>
<html>
<head>
  <title>Appmetrica WTF</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site-content">
    <div class="container">
        <%= yield %>
    </div>
</div>

<footer class="footer">
  <div id="footer">
    <div class="container">
      <small>
        <a href="http://appmetrica.yandex.ru">Yandex.AppMetrica</a>,
        2015
      </small>
    </div>
  </div>
</footer>
</body>
</html>
